In [1]:
import csv
import pandas as pd
df = pd.read_csv('2017-Q1-Trips-History-Data.csv')
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member Type
0,1048876,3/31/2017 23:59,4/1/2017 0:17,31213,17th & K St NW,31606,Potomac & Pennsylvania Ave SE,W20784,Registered
1,223449,3/31/2017 23:59,4/1/2017 0:03,31104,Adams Mill & Columbia Rd NW,31103,16th & Harvard St NW,W20825,Registered
2,423494,3/31/2017 23:58,4/1/2017 0:05,31627,M St & Delaware Ave NE,31614,11th & H St NE,W20773,Registered
3,687015,3/31/2017 23:57,4/1/2017 0:08,31404,9th & Upshur St NW,31281,8th & O St NW,W01307,Registered
4,257919,3/31/2017 23:57,4/1/2017 0:02,31602,Park Rd & Holmead Pl NW,31400,Georgia & New Hampshire Ave NW,W21760,Registered

In [2]:
df.tail()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member Type
646503,1356956,1/1/2017 0:07,1/1/2017 0:29,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
646504,1327901,1/1/2017 0:07,1/1/2017 0:29,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
646505,1636768,1/1/2017 0:07,1/1/2017 0:34,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual
646506,1676854,1/1/2017 0:06,1/1/2017 0:34,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
646507,221834,1/1/2017 0:00,1/1/2017 0:04,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Registered